*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: white;
}

.hero {
    background: #23424A;
    padding: 6.25em 0;
}

.hero-container {
    width: 80%;
    max-width: 750px;
    margin: 0 auto;
}

.hero-content {
    width: 70%;
}

.hero-content h1 {
    font-weight: 900;
    margin-bottom: 1em;
}

.hero-content p {
    font-weight: 300;
    line-height: 1.4em;
    margin-bottom: 4em;
}

.hero-content .btn-hero {
    display: inline-block;
    padding: 1em 3em;
    background: #38CFD9;
    border-radius: 31.5px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.05em;
    color: #072A2D;
}

.btn-hero:hover, .btn-hero:focus {
    opacity: .75;
}